<form method="post" action="{{ path('app_membres_delete', {'id': membre.idMembre}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce membre?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ membre.idMembre) }}">
    <button class="btn btn-outline-danger">Supprimer</button>
</form>