{% extends 'base.html.twig' %}

{% block title %}Membres index{% endblock %}

{% block body %}
    <h1>Membres index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>nom</th>
                <th>login</th>
            </tr>
        </thead>
        <tbody>
        {% for membre in membres %}
            <tr>
                <td>{{ membre.idMembre }}</td>
                <td>{{ membre.nomMembre }}</td>
                <td>{{ membre.loginMembre }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
