{% extends 'base.html.twig' %}

{% block title %}Nouveau Membres{% endblock %}

{% block body %}
    <h1 class="display-1 text-center mb-5 text-white" >Créer un nouveau membre</h1>

    <div class="container-fluid w-50 border p-4 shadow-lg text-center text-white order border-5 rounded-3">
        {{ include('membres/_form.html.twig') }}
        {# <a href="{{ path('app_membres') }}" class="btn btn-outline-light mt-3 mb-3">Retour</a> #}
    </div>

    

{% endblock %}